.sos
*.swp
__pycache__
tmp*
build
dist
*egg-info
.DS_Store
_site/
.ipynb_checkpoints
process.sh
process_homepage.sh
*.pem
*.pyc
.ipython/
.jupyter/
.viminfo
geckodriver.log
test/authorized_keys
test/*.sos
test/*.ipynb
test/*.py
test/*.html
test/*.md
test/*.txt
test/ssh
.bash_history
.cache/
.local/


