dist: trusty
group: edge
os:
    - linux
    # travis does not support python on osx yet (https://github.com/travis-ci/travis-ci/issues/4729)
language: python
python:
    - "3.6"
before_install:
    # Base SoS
    - sudo apt-get update
    - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
    - sudo apt-get install octave
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    # downgrade python if needed
    - conda create -n python_test python=$TRAVIS_PYTHON_VERSION anaconda
    - source activate python_test      
    - pip install docker rq
    - pip install pyyaml psutil tqdm nose
    - pip install fasteners pygments networkx pydot pydotplus 
    - pip install entrypoints jupyter coverage codacy-coverage pytest pytest-cov python-coveralls
    - conda install pandas numpy

    # SoS Notebook
    - pip install jedi notebook nbconvert nbformat pyyaml psutil tqdm scipy markdown
    - sudo apt-get install libmagickwand-dev libmagickcore5-extra graphviz
    - pip install pygments ipython wand graphviz
    - pip install git+https://github.com/vatlab/sos.git
    - pip install git+https://github.com/vatlab/sos-bash.git
    - pip install git+https://github.com/vatlab/sos-python.git

sudo: required
services:
    - docker
install:
    - python setup.py install
    - python -m sos_notebook.install
before_script:
    - cd test
    - sh build_test_docker.sh
script:
    - pytest -x -v --cov sos_notebook --cov-report=term-missing
      
after_success:
    - coverage combine
    - coveralls

notifications:
    email:
        recipients:
            - ben.bob@gmail.com
        on_success: never
        on_failure: always

