<div class='display_control_panel'>
   <div class="display_control">
      Display content:<br>
      <div class="display_checkboxes">
         <input type="checkbox" id="show_cells" name="show_cells" onclick="toggle_source()">
         <label for="show_cells">All cells</label>
         <br>
         <input type="checkbox" id="show_prompt" name="show_prompt" onclick="toggle_prompt()">
         <label for="show_prompt">Prompt</label>
         <br>
         <input type="checkbox" id="show_messages" name="show_messages" onclick="toggle_messages()">
         <label for="show_messages">Messages</label>
      </div>
   </div>
</div>
