<style type="text/css">

.output_stderr {
    display: none;
}

.hidden_content {
    display: none;
}

.input_prompt {
    display: none;
}

.output_area .prompt {
    display: none;
}

.output_prompt {
    display: none;
}

.display_control_panel  {
    padding: 10pt;
    left: 5px;
    top: 5px;
    position: fixed;
    z-index: 1000;
}

.display_control_panel:hover {
    background: rgb(224, 234, 241);
}
.display_checkboxes {
    margin-top: 5pt;
}
.display_control_panel:hover .display_control {
    display: block;
    opacity: 100;
}
.display_control_panel .display_control {
    opacity: 0;
}

</style>
